<template>
  <div class="container is-fluid">
    <div class="table-container">
      <table class="table is-narrow is-hoverable is-fullwidth table-container">
        <thead>
          <tr>
            <th class="is-hidden-desktop">Drag</th>
            <th
              v-for="(row, idx) in RankListHeader"
              :key="idx"
              style="position: sticky; top: 0;"
            >{{ row }}</th>
          </tr>
        </thead>
        <draggable
          v-model="RankListData[0]"
          tag="tbody"
          @change="reorderData(0, ...arguments)"
          handle=".handle"
          ghostClass="ghost"
          group="rank"
          id="one"
        >
          <tr v-for="(row, index) in RankListData[0]" :key="index">
            <td class="is-hidden-desktop handle add-cursor has-text-centered">
              <font-awesome-icon icon="arrows-alt-v" size="lg" />
            </td>
            <td v-for="item in row" :key="item.id" :class="{'handle': is_above_tablet}">{{ item }}</td>
          </tr>
        </draggable>

        <tr class="title">
          <td colspan="18">Group 2</td>
        </tr>
        <draggable
          v-model="RankListData[1]"
          tag="tbody"
          @change="reorderData(1, ...arguments)"
          handle=".handle"
          ghostClass="ghost"
          group="rank"
          id="two"
        >
          <tr v-for="(row, index) in RankListData[1]" :key="index">
            <td class="is-hidden-desktop handle add-cursor has-text-centered">
              <font-awesome-icon icon="arrows-alt-v" size="lg" />
            </td>
            <td v-for="item in row" :key="item.id" :class="{'handle': is_above_tablet}">{{ item }}</td>
          </tr>
        </draggable>

        <tr class="title">
          <td colspan="18">Group 3</td>
        </tr>
        <draggable
          v-model="RankListData[2]"
          tag="tbody"
          @change="reorderData(2, ...arguments)"
          handle=".handle"
          ghostClass="ghost"
          group="rank"
          id="two"
        >
          <tr v-for="(row, index) in RankListData[2]" :key="index">
            <td class="is-hidden-desktop handle add-cursor has-text-centered">
              <font-awesome-icon icon="arrows-alt-v" size="lg" />
            </td>
            <td v-for="item in row" :key="item.id" :class="{'handle': is_above_tablet}">{{ item }}</td>
          </tr>
        </draggable>

        <tr class="title">
          <td colspan="18">Group 4</td>
        </tr>
        <!-- :move="moveEle" -->
        <draggable
          v-model="RankListData[3]"
          tag="tbody"
          @change="reorderData(3, ...arguments)"
          handle=".handle"
          ghostClass="ghost"
          group="rank"
          id="two"
        >
          <tr v-for="(row, index) in RankListData[3]" :key="index">
            <td class="is-hidden-desktop handle add-cursor has-text-centered" >
              <font-awesome-icon icon="arrows-alt-v" size="lg" />
            </td>
            <td v-for="item in row" :key="item.id" :class="{'handle': is_above_tablet}">{{ item }}</td>
          </tr>
        </draggable>
      </table>
    </div>
  </div>
</template>

<script>
import PapaParse from "papaparse";
import draggable from "vuedraggable";
import { constants } from "crypto";

export default {
  name: "RankedList",
  components: {
    draggable
  },
  mounted: function() {
    let self = this;
    //
    PapaParse.parse("./rankedList.csv", {
      download: "true",
      header: "true",
      complete: function(results, file) {
        let rankList1 = [],
          rankList2 = [],
          rankList3 = [],
          rankList4 = [];
        for (var i = 0; i < results.data.length; i++) {
          if (results.data[i].group === "1") {
            self.RankListData[0].push(results.data[i]);
          } else if (results.data[i].group === "2") {
            self.RankListData[1].push(results.data[i]);
          } else if (results.data[i].group === "3") {
            self.RankListData[2].push(results.data[i]);
          } else if (results.data[i].group === "4") {
            self.RankListData[3].push(results.data[i]);
          }
        }
        self.RankListHeader = results.meta.fields;
      }
    });
  },
  data: function() {
    return {
      RankListData: [[], [], [], []],
      RankListHeader: [],
      groupMove: {
        isMovedUp: null,
      }
    };
  },
  computed: {
    is_above_tablet: function() {
      const tmp = window.matchMedia("(min-width: 1023px)");
      return tmp.matches ? true : false;
    },
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    reorderData: function(arrayModifiedIndex, event) {
      let arrModified = this.RankListData[arrayModifiedIndex];

      if (event.added) {
        const newIndex = event.added.newIndex;
        arrModified[newIndex].group = arrayModifiedIndex + 1;

        // Check to see if the element is moved up or down a group
        const newElementPrevRank = parseInt(event.added.element.number);
        const isMovedUp =
          newElementPrevRank >=
          parseInt(arrModified[arrModified.length - 1].number)
            ? true
            : false;
        this.$set(this.groupMove, "isMovedUp", isMovedUp);

        if (newIndex === 0) {
          arrModified[0].number = parseInt(arrModified[1].number) - 1;
        }

        for (var i = 0; i < arrModified.length; i++) {
          arrModified[i].rank = i + 1;

          if (isMovedUp) {
            if (i == newIndex) {
              if (arrModified[i - 1])
                arrModified[i].number = parseInt(arrModified[i - 1].number) + 1;
              else arrModified[i].number = 1;
            } else if (i > newIndex) {
              arrModified[i].number = parseInt(arrModified[i].number) + 1;
            }
          } else {
            if (i < newIndex) {
              arrModified[i].number = parseInt(arrModified[i].number) - 1;
            } else if (i != 0 && i === newIndex) {
              arrModified[i].number = parseInt(arrModified[i - 1].number) + 1;
            }
          }
        }
      } else if (event.moved) {
        const largerArraySize =
          arrayModifiedIndex != 0
            ? parseInt(
                this.RankListData[arrayModifiedIndex - 1][
                  this.RankListData[arrayModifiedIndex - 1].length - 1
                ].number
              ) + 1
            : 1;
        let oi = event.moved.oldIndex;
        let ni = event.moved.newIndex;

        if (oi > ni) {
          ni = event.moved.oldIndex;
          oi = event.moved.newIndex;
        }
        let rankReorder = arrModified.slice(oi, ni + 1);
        for (var i = oi; i <= ni; i++) {
          arrModified[i].rank = i + 1;
          arrModified[i].number = largerArraySize + i;
        }
        arrModified[event.moved.newIndex].rank = +event.moved.newIndex + 1;
        arrModified[event.moved.newIndex].number =
          largerArraySize + event.moved.newIndex;
      } else {
        if (this.groupMove.isMovedUp) {
          for (var i = 0; i < event.removed.oldIndex; i++) {
            arrModified[i].number = parseInt(arrModified[i].number) + 1;
          }
          for (var i = event.removed.oldIndex; i < arrModified.length; i++) {
            arrModified[i].rank = parseInt(arrModified[i].rank) - 1;
          }
        } else {
          for (var i = event.removed.oldIndex; i < arrModified.length; i++) {
            arrModified[i].number = parseInt(arrModified[i].number) - 1;
            arrModified[i].rank = parseInt(arrModified[i].rank) - 1;
          }
        }
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.add-cursor {
  cursor: grab;
}
.ghost {
  opacity: 0.5;
  background: gray;
  color: black;
}
tbody::after {
  content: "";
  display: block;
  page-break-after: always;
  page-break-inside: avoid;
  page-break-before: avoid;
}
</style>

