<template>
  <div id="">
    <section class="section has-text-centered">
        <div class="container">
          <h1 class="title">Prospect Rank List</h1>
          <h2 class="subtitle is-hidden-touch">Click and hold anywhere in the row to move the ranking up or down</h2>
          <h2 class="subtitle is-hidden-desktop">Select and hold the arrow on the left to move the ranking up or down</h2>
        </div>
    </section>

    <ranked-list />

  </div>
</template>

<script>
import RankedList from './components/RankedList.vue'

export default {
  name: 'app',
  components: {
    RankedList
  }
}
</script>

<style lang="css">
@import '../node_modules/bulma/css/bulma.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
